@import "tailwindcss";

:root {
    font-family:
        "National Park", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.icon-white {
    filter: brightness(0) invert(1);
}

@theme {
    --color-arvo-white-0: #ffffff;
    --color-arvo-white-100: #f8f8f7;

    --color-arvo-black-5: #e0dfdc;
    --color-arvo-black-10: #99948a;
    --color-arvo-black-25: #807b6f;
    --color-arvo-black-50: #656158;
    --color-arvo-black-75: #4a4640;
    --color-arvo-black-100: #2b2c2c;

    --color-arvo-blue-20: #f7f8fd;
    --color-arvo-blue-50: #c0c6ef;
    --color-arvo-blue-80: #7a88e1;
    --color-arvo-blue-100: #2d42c9;

    --color-arvo-green-20: #e0f6eb;
    --color-arvo-green-50: #bed9cb;
    --color-arvo-green-80: #31a56c;
    --color-arvo-green-100: #267f53;

    --color-arvo-orange-20: #fef2ec;
    --color-arvo-orange-50: #fce3d5;
    --color-arvo-orange-80: #f3935d;
    --color-arvo-orange-100: #f0742f;

    --color-arvo-yellow-20: #fff4d9;
    --color-arvo-yellow-50: #fff4d9;
    --color-arvo-yellow-80: #ffb533;
    --color-arvo-yellow-100: #ffa200;

    --color-arvo-purple-20: #fefbfe;
    --color-arvo-purple-50: #f9ebfb;
    --color-arvo-purple-100: #dd83eb;

    --color-arvo-red-20: #fceeee;
    --color-arvo-red-50: #f3bfbf;
    --color-arvo-red-80: #e77e7e;
    --color-arvo-red-100: #780606;

    --color-arvo-teal-20: #d4f4f8;
    --color-arvo-teal-100: #177783;
}
